## Looking at the hastags
___
##### Source file
Takes path to csv file that has hashtags stats of indivisula user :  
mean_hastags,unique_hashtags,tweets_with_hashtags,no_hashtags,total_tweets

In [9]:
import pandas as pd
import IPython.core.display as di
import sys

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

In [8]:
collection = "results/hashtag_stats2.csv"
print(collection)

results/hashtag_stats2.csv

##### Snippet of the dataframe read from csv

In [6]:
df = pd.read_csv(collection)
print(df.head())

   mean_hastags  unique_hashtags  tweets_with_hashtags  no_hashtags  \
0      1.205128               20                    39           73
1      1.496894              665                   644         2508
2      1.442882              549                   569         2470
3      2.441099             1033                   764         2242
4      1.200000              135                   145         1667

   total_tweets
0           112
1          3152
2          3039
3          3006
4          1812

##### Descriptive statistics

In [7]:
df.describe()

,mean_hastags,unique_hashtags,tweets_with_hashtags,no_hashtags,total_tweets
count,224.000000,224.000000,224.000000,224.000000,224.000000
mean,1.513349,416.035714,616.183036,1552.875000,2169.058036
std,0.572315,382.010000,584.240350,922.406607,1078.597666
min,1.000000,8.000000,13.000000,4.000000,57.000000
25%,1.209177,132.000000,165.000000,799.000000,1299.000000
50%,1.365772,306.000000,388.000000,1657.000000,2798.000000
75%,1.564814,601.750000,1024.000000,2475.000000,2994.750000
max,5.292894,2008.000000,2849.000000,3018.000000,3166.000000